<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- Poker Player-->
    <add key="NumberOfPlayers" value="2" />
    <!-- Poker Cards-->
    <add key="NumberOfCardsPerPerson" value="5" />
  </appSettings>
</configuration>
